/* Ant Design CSS */
@import '~antd/dist/antd.css';
/* "Lato" font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* "Changa" font */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');
/* "Chopin" font */
@import url('https://fonts.cdnfonts.com/css/chopin-script');


@media (prefers-color-scheme: light){
  :root{
    --background: #FCF0F4;
    --base: #F7D4E0;
    --secondary: #6F4653;
    --primary: #DE8CA7;
    --text: #000000;
  }
}

@media (prefers-color-scheme: dark){
  :root{
    --background: #1F1C1C;
    --base: #60142A;
    --secondary: #C12854;
    --primary: #F23269;
    --text: #E9E8EA;
  }
}

/* #F45A87 <-- COLORE NUOVO */

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title{
  font-family: 'Chopin Script', sans-serif;
  font-weight: 400;
}

/**** Generals ****/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.img-background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sheer-layer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.img-fluid {
  max-width: 100%;
}
.img-fluid[width] {
  width: auto; /* Defer to max-width */
}
.img-fluid[width][height] {
  height: auto; /* Preserve aspect ratio */
}

.img-fluid[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

.mt-fluid{
  margin-top: 100px;
}

.btn-transparent{
  background-color: transparent;
  border: 0;
  color: var(--primary);
}

@media (max-width: 975px){
  .mt-fluid{
    margin-top: 40px;
  }
}

/**** Menu.tsx ****/
.main-menu-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.main-menu-lg{
  display: none;
}

.main-menu-md{
  display: none;
}

.main-menu{
  width: 100%;
  border-bottom: 0;
}

.main-menu-logo{
  object-fit: contain;
  width: 200px;
}

.main-menu-button{
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}

.main-menu-button:hover{
  color: var(--primary);
}

.main-menu-button-highlight{
  color: var(--primary);
  font-weight: 500;
}

.main-menu-hr{
  height: .25rem;
  margin: 0;
  margin-top: 5px;
  border: none;
  background-color: var(--primary);
  transition: .3s ease-in-out;
}

.main-menu-mobile{
  background-color: var(--background);
}

.ant-drawer-header-title{
  justify-content: flex-end;
}

.ant-drawer-close{
  margin: 0;
  padding: 0;
}

.main-menu-button-mobile,
.main-menu-button-mobile:active,
.main-menu-button-mobile:hover{
  margin-bottom: 7px;
  padding-bottom: 3px;
  color: var(--text);
  font-size: 22px;
}

.main-menu-button-mobile-highlight,
.main-menu-button-mobile-highlight:active,
.main-menu-button-mobile-highlight:focus{
  color: var(--primary) !important;
  font-weight: 500;
  border-bottom: .25rem solid var(--primary) !important;
}

@media (min-width: 992px){
  .main-menu-lg{
    display: block;
  }
}

@media (max-width: 991px){
  .main-menu-md{
    display: block;
  }
}

/**** Footer.tsx ****/
.footer-container{
  padding: 10px 0;
  border-top: 1px solid var(--secondary);
}

.footer-content{
  text-align: center;
  color: var(--secondary);
  font-size: 14px;
}

.footer-mail,
.footer-mail:hover{
  color: var(--secondary);
  text-decoration: underline;
}

/**** Featured.tsx ****/
.featured-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

@media (max-width: 991px){
  .featured-img{
    font-size: 30px;
  }
}

@media (max-width: 575px){
  .featured-img{
    font-size: 20px;
  }
}

/**** SectionTitle.tsx ****/
.sectiontitle-h1{
  margin-bottom: 0;
  font-size: 50px;
  line-height: 1;
}

.sectiontitle-h1-alt{
  font-family: 'Lato', sans-serif;
}

.sectiontitle-hr{
  width: 50px;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 4px solid var(--primary);
}

/**** Home.tsx ****/
.home-quote-title{
  margin: 7px;
  line-height: 1;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
}

.home-quote-subtitle{
  margin: 0;
  line-height: 1;
  text-align: center;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 576px){
  .home-quote-title{
    font-size: 42px;
  }

  .home-quote-subtitle{
    font-size: 22px;
  }
}

/**** Biography.tsx ****/
.bio-pic{
  width: 50%;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 576px){
  .bio-pic{
    width: 100%;
    float: none;
    margin-right: 0;
  }
}


/**** Contacts.tsx ****/
.contacts-featured{
  border-radius: 20px;
}

.contacts-input{
  border: 1px solid var(--primary);
  border-radius: 7px;
  background-color: var(--base);
  color: var(--text);
}

.contacts-input:focus{
  border-color: var(--primary);
}

.contacts-send{
  background-color: var(--primary);
  border: 0;
  border-radius: 7px;
}

.contacts-send:active,
.contacts-send:focus{
  background-color: var(--secondary);
}